In [13]:
import pandas as pd

df = pd.read_json("../data_collection/all/books.json")

# Shape of the data frame (rows x columns)

In [14]:
df.shape

(1000, 12)

# Print Data Frame Head

In [15]:
df.head()

,title,price,available,stock_count,rating,description,upc,product_type,price_excl_tax,price_incl_tax,tax,num_reviews
0,A Light in the Attic,Â£51.77,True,22,Three,It's hard to imagine a world without A Light i...,a897fe39b1053632,Books,Â£51.77,Â£51.77,Â£0.00,0
1,Tipping the Velvet,Â£53.74,True,20,One,"""Erotic and absorbing...Written with starling ...",90fa61229261140a,Books,Â£53.74,Â£53.74,Â£0.00,0
2,Soumission,Â£50.10,True,20,One,"Dans une France assez proche de la nÃ´tre, un ...",6957f44c3847a760,Books,Â£50.10,Â£50.10,Â£0.00,0
3,Sharp Objects,Â£47.82,True,20,Four,"WICKED above her hipbone, GIRL across her hear...",e00eb4fd7b871a48,Books,Â£47.82,Â£47.82,Â£0.00,0
4,Sapiens: A Brief History of Humankind,Â£54.23,True,20,Five,From a renowned historian comes a groundbreaki...,4165285e1663650f,Books,Â£54.23,Â£54.23,Â£0.00,0

# Statistical Summary

In [16]:
df.describe()

       stock_count  num_reviews
count  1000.000000       1000.0
mean      8.585000          0.0
std       5.654622          0.0
min       1.000000          0.0
25%       3.000000          0.0
50%       7.000000          0.0
75%      14.000000          0.0
max      22.000000          0.0

## we need to clean up special characters in front of price tags and num_reviews not need

In [ ]:
#df = df.drop(columns=["num_reviews"])

price_cols = ["price", "price_excl_tax", "price_incl_tax", "tax"]

df[price_cols] = df[price_cols].replace(r"£", "", regex=True).astype(float)

KeyError: "['num_reviews'] not found in axis"